

@media screen and (max-width:425px) {
    .fwrapper {
        display: flex;
        flex-basis: auto;
        flex-direction: column;
    } 
    .header {
        background-color: gold;
    }
    
    .main {
        background-color: darkorange;
    }
    
    .aside-1 {
        background-color: mediumseagreen;
    }
    
    .aside-2 {
        background-color: seagreen;
    }
    
    .footer {
        background-color: lightgreen;
    }
    
}

@media screen and (min-width:426px) {
    .fwrapper {
        flex-direction: row;
    } 

    .main {
        flex-basis: 100%;
    }

    .aside-1 {
        /*flex-basis: 40%;*/
        flex-shrink: 2;
        flex-basis: 0;
        flex-grow: 1;
    }
    .aside-2 {
       /* flex-basis: 40%;*/
        flex-shrink: 2;
        flex-basis: 0;
        flex-grow: 1;
    }
}

@media screen and (min-width: 769px) {
    .aside-1 {
        order: 1;
        flex-basis: 0px;
        flex-grow: 1;
    }
    .main {
        order: 2;
        flex-basis: 400px;
        flex-grow: 1;
    }
    .aside-2 {
        order: 3;
        flex-basis: 0px;
        flex-grow: 1;
    }
    .footer {
        order: 4;
        flex-grow: 1;
    }
}


body {
    font-family: Gotham, Arial, Helvetica, sans-serif;
    background-color: darkcyan;
    padding: 10px;
}

.fwrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.fwrapper {
    padding: 10px;
    flex-grow: 1;
    flex-basis: 100%;
}

.header {
    background-color: gold;
    flex-grow: 1;
    flex-basis: 100%;
}

.main {
    background-color: darkorange;
    flex-grow: 1;
}

.aside-1 {
    background-color: mediumseagreen;
    flex-grow: 1;
}

.aside-2 {
    background-color: seagreen;
    flex-grow: 1;
}

.footer {
    background-color: lightgreen;
    flex-grow: 1;
    flex-basis: 100%;
}


/*mobile (max-width = 425px){

}

desktop (min-width 768px){

}

/*<link href="reset.css" rel="stylesheet" type="text/css">
<link href="desktop.css" rel="stylesheet" type="text/css">
*/